{% extends "base2.html" %}
{% block content %}
<br>
<div class="row">
    <div class="large-6 columns">
      <h3><strong>Los jueces de la Audiencia preparan ya la detención de los narcos excarcelados</strong></h3>
      <p style="color:#C8C8C8"><strong>El País - JOSÉ MANUEL ROMERO</strong></p>
      <p>El Tribunal Supremo sostiene que la nueva Ley de Justicia Universal reconoce la jurisdicción de España para apresar embarcaciones en alta mar que transporten droga, siempre que los tratados internacionales le otorguen dicha competencia</p>
    </div>
    
    <div class="large-4 columns">
      <br>
      <div class="row">
      <p style="font-size:30px; color:#606060"><i class="fa fa-bookmark"></i>  3 minutos</p>
      <p style="font-size:30px; color:#606060"><i class="fa fa-volume-up"></i>  Positiva</p>
    </div>
    <div class="row">
      <a href="#" class="button tiny alert radius">Audiencia</a> 
       <a href="#" class="button tiny disable radius">Tribunal Supremo</a> 
       <a href="#" class="button tiny disable radius">Ley Universal</a> 
       <a href="#" class="button tiny disable radius">PSOE</a> 
       <a href="#" class="button tiny disable radius">PP</a> 
       <a href="#" class="button tiny disable radius">Mariano Rajoy</a> 
    </div>
  </div>
  
</div>
<div class="row">
<div class="large-2 columns">
<br>
      <a href="#" class="button small alert radius expand">Leer</a>
</div> 
</div> 
<br>
<br>
<br>
{% endblock %}